{% include 'admin-layout.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}

    <div class="container-fluid">
        <h1>No deployments found. Please deploy AI pipelines from:</h1>
        <h1> <a href="https://www.ai-lab.nrw">AI-Lab.NRW</a> </h1>
        <h1>or</h1>
        <h1> <a href="https://aiexp.ai4europe.eu">AI4EU Experiments</a> </h1>
    </div>

{% endblock %}

